<div class="container mt-5 mb-3">
  <form (ngSubmit)="onSubmit()">
    <input class="form-control" type="text" name="Name" [(ngModel)]="name" /> 
    <input class="form-control"  type="text" name="Code" [(ngModel)]="code" /> 
    <button class="button btn-success" type="submit" >Add user</button>
  </form>
</div>

<div class="container">
  <table class="table">
    <tr>
      <th>Id</th>
      <th>Name</th>
      <th>Code</th>
      <th></th>
    </tr>
    <tr *ngFor="let user of (users$ | async)">
      <td>{{user.customer_id}}</td>
      <td>{{user.customer_name}}</td>      
      <td>{{user.customer_code}}</td>
      <td><button class="button btn-danger" (click)=onUserDelete(user)>X</button></td>
    </tr>
  </table>

</div>
