<div id="header" class="mt-3 py-3 d-flex justify-content-center">
  <h1 class="display-5"><strong>Customer Management</strong></h1>
</div>

<div class="container my-5 mb-3">
  <form (ngSubmit)="onSubmit()">
    <div class="form-group">
      <div class="row mb-1">
        <div class="column col-2 d-flex justify-content-end">
          <label for="userName">User name</label>
        </div>
        <div class="column col-3">
          <input id="userName" class="form-control" placeholder="Name" type="text" name="Name" [(ngModel)]="user.name" />
        </div>
      </div>
      <div class="row mb-2">
        <div class="column col-2 d-flex justify-content-end">
          <label for="userCode">Code</label>
        </div>
        <div class="column col-3">
          <input id="userCode" class="form-control" placeholder="Code" type="text" name="Code" [(ngModel)]="user.code" />
        </div>
      </div>
      <div class="row">
        <div class="column col-5 offset-2 d-flex justify-content-begin">
          <button id="addButton" class="button btn-success px-5 py-1" type="submit">Add user</button>
        </div>
      </div>
    </div>
  </form>
</div>

<div class="container">
  <table class="table table-striped ">
    <thead>
      <tr>
        <th scope="col">Id</th>
        <th scope="col">Name</th>
        <th scope="col">Code</th>
        <th scope="col"></th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let user of (users$ | async) trackBy:trackByFn">
        <td style="width: 10%">{{user.id}}</td> 
        <td style="width: 40%">{{user.name}}</td>
        <td style="width: 40%">{{user.code}}</td>
        <td style="width: 10%"><button class="button close delete-button" (click)=onUserDelete(user)>X</button></td>
      </tr>
    </tbody>
  </table>
</div>